body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea, select {
    padding: 8px;
    margin-top: 5px;
    border: 3px solid #261111;
    border-radius: 14px;
}

button {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
    margin-top: 15px;
    padding: 10px;
    background-color: #e42222;
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #23c31b;
}
