* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
}

/* Header */
.header {
    background: #ff3d3d;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
}

.header h2 {
    margin-left: 10px;
}

.back {
    font-size: 22px;
    cursor: pointer;
}

/* Card */
.card {
    background: white;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

.course h3 {
    font-size: 15px;
}

.lecture {
    color: #3b82f6;
    font-size: 12px;
}

/* Summary */
.summary {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.details {
    color: #3b82f6;
    text-decoration: none;
    font-size: 14px;
}

/* Status */
.status {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.present {
    border: 1px solid green;
    color: green;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 13px;
}

.absent {
    border: 1px solid red;
    color: red;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 13px;
}

/* Attendance List */
.list {
    margin: 15px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

.row:last-child {
    border-bottom: none;
}

.P {
    color: green;
    font-weight: bold;
}

.A {
    color: red;
    font-weight: bold;
}
